fastapi
uvicorn[standard]

SQLAlchemy>=1.4
psycopg2-binary
alembic

python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==3.2.0

pydantic>=2.0
pydantic-settings
python-dotenv
python-multipart

pytest

pydantic[email]